a {
	text-decoration: none;
	color: #ffffff;
}

.movieTitle {
	padding-top: 50%;
	text-shadow: 3px 3px #000000;
}

body {
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}

.movies {
	height: 300px;
	opacity: 0.8;
}

.container-1 {
 width: 500px;
 vertical-align: middle;
 white-space: nowrap;
 position: relative;
}
.container-1 input#search{
 width: 300px;
 height: 50px;
 border: 2px solid black;
 font-size: 14pt;
/* float: left;*/
 color: #63717f ;
 padding-left: 45px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
}

.container-1 .icon{
 position: absolute;
 top: 50%;
 margin-left: 17px;
 margin-top: 28px;
 z-index: 1;
 color: #4f5b66 ;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
   outline:none;
   background: #ffffff ;
}

div.homeRow {
	margin-top: 50px;
}

div.homeRow :hover {
	opacity: 1;
}

.trackList {
	background-color: #797979;
	border: 1px solid
}

#search-box {
	outline: none;
}

a, a:hover{
	text-decoration: none;
	color: white;
}

.soundtrack-link:hover {
	color: #5cb85c;
}
