<h1>Add Track</h1>

<form ng-submit="addTrack()">
	<div class="form-group">
		<label for="artist">Artist: </label>
		<input type="text" class="form-control" ng-model="track.artist" placeholder="Artist">
	</div>
	<div class="form-group">
		<label for="title">Song Title: </label>
		<input type="text" class="form-control" ng-model="track.title" placeholder="Song Title">
	</div>
	<div class="form-group">
		<label for="starttime">Start Time: </label>
		<input type="text" class="form-control" ng-model="track.starttime" placeholder="Start Time:">
	</div>
	<div class="form-group">
		<label for="url">Track URL: </label>
		<input type="url" class="form-control" ng-model="track.url" placeholder="Track URL">
	</div>
	<div class="form-group">
		<label for="imdbID">imdbID: </label>
		<input type="text" class="form-control" ng-model="track.imdbID" placeholder="Track URL">
	</div>
	<input type="submit" class="btn btn-success" value="Submit">
</form>
