  <h1 class="text-center">soundTRAK</h1>
  <form class="form-inline text-center">
   <div class="row">
     <div class="col-xs-12">
       <div class="input-group input-group-lg">
         <input id="search-box" ng-model="searchTerm" type="text" class="form-control text-center" placeholder="Find Movie by Title">
         <span class="input-group-btn">
           <button class="btn btn-success"><i class="fa fa-search"></i></button>
         </span>
       </div>
     </div>
   </div>
 </form>

  <div class="row homeRow">
    <div class="col-xs-12 col-sm-3" ng-repeat="m in movie">
      <div class="movies text-center" ng-style="{'background-image':'url({{ m.Poster }})'}">
        <h2 class="movieTitle"><a ng-href="/film/{{m.imdbID}}">{{ m.Title }}</a></h2>
      </div>
    </div>
  </div>
