<div>

  <h1>Home</h1>
  <div class="box">
    <div class="container-1">

      <label for="">Find Movie by Title</label>
      <br>
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" name="movieTitle" ng-model="searchTerm">
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-sm-6" ng-repeat="m in movie">
      <div class="well">
        <h4><a ng-href="/film/{{m.imdbID}}">{{ m.Title }}</a></h4>
      </div>
    </div>
  </div>
</div>

<!--
<div class="box">
  <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
  </div>
</div -->
